#content {
    max-width:1600px;
    border:1px solid black;
    margin:0 auto ;
   
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
nav a{
    text-align: center;
    color:black;
    text-decoration: none;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}


#background{
    height:725px;
    background-color:gainsboro;
}
body{
    background-color:ivory
}

header{
    background-color:blanchedalmond;
}

nav a:hover{
    background-color:brown;
    color:black
}

.book, .join{
    background-color:violet;
    color:black;
    text-decoration: none;
}

.book:hover, .join:hover{
    background-color:#d9d9d9;
    color:black;
}

.msg{
    background-color:whitesmoke;
}

.msg h2{
    color:#061520;
}

.msg p{
    color:#00060a;
}

footer{
    background-color:burlywood;
    color:aliceblue;
}
footer a{
    color:blanchedalmond;
    text-decoration: none;
}

footer p{
    font-size:1.2em;
}
footer p a:hover {
    text-decoration: underline;
}

footer a:hover {
    color:black
}
.home-title{
    color:#035256
}

h4 {
    color:goldenrod
}

/* #14*/
.logo {
    width:80px;
}
.icon{
   width:80px;
}
#hero-img{
    width:100%
}



    